.header{
  margin: 10px;
}
.custom-button {
  background-color: black !important;
  color: white;
  border: 2px solid black !important;
  border-radius: 20px !important;
  width: 100px; 
}
.button {
  background-color: transparent;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 6px 4px;
  cursor: pointer;
  border-radius: 5px;
  position: absolute;
  bottom: 10px; 
  left: 10px; 
  width: calc(100% - 27px);
  transition: opacity 0.3s; 
}

.button:hover {
  opacity: 1; 
  background-color: rgba(0, 0, 0, 0.5); 
}
.banner-btn{
  padding: 10px;
  margin: 20px;
  width: 40%;
  background-color: black !important;
  font-size: 1.2rem !important;
  font-family: 'Utopia' !important;
}
.banner-btn:hover {
  background-color: white !important;
  color: black !important;
  border: none !important;
}

.container{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.form{
  width: 700px;
  border: 2px solid black;
  border-radius: 5px;
}
